<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <style>
      th {
        padding: 0;
        text-align: left;
      }
      input {
        outline: none;
        border: 0;
        width: 97%;
      }
    </style>
  </head>
  <body>
    <h1>Edit user</h1>
    <form action="/updateRecord" method="post" enctype="multipart/form-data">
      <table border="1">
        <thead>
          <tr>
            <th>Id :-</th>
            <th><input type="text" value="<%= single.id %>" name="eid" /></th>
          </tr>
          <tr>
            <th>Name:-</th>
            <th>
              <input type="text" name="name" value="<%= single.name %>" />
            </th>
          </tr>
          <tr>
            <th>Email:-</th>
            <th>
              <input type="text" name="email" value="<%= single.email %>" />
            </th>
          </tr>
          <tr>
            <th>Password</th>
            <th>
              <input
                type="text"
                name="password"
                value="<%= single.password %>"
              />
            </th>
          </tr>
          <tr>
            <th>Image :-</th>
            <th>
              <img src="<%= single.image %>" width="50" alt="" />
              <br />
              <span><%= single.image %></span>
              <input type="file" name="image" placeholder="upload new file" />
            </th>
          </tr>
          <tr>
            <th>
              <input type="submit" value="submit" />
            </th>
          </tr>
        </thead>
      </table>
    </form>
  </body>
</html>
